<section id="home" class="hero-section">
  <div class="container">
    <div class="hero-inner text-center">
      <div class="hero-content">
        <h1>
          Make your App <br />
          Business Easy with Astra
        </h1>
        <p>Astra is better way to promote your startup mobile app.</p>
        <div class="hero-btn">
          <a href="#" class="download-btn"
            ><img src="assets/img/appstore.png" alt="btn"
          /></a>
          <a href="#" class="download-btn"
            ><img src="assets/img/playstore.png" alt="btn"
          /></a>
        </div>
      </div>
    </div>
  </div>
</section>
