<section id="home" class="hero-section">
  <div class="container">
    <div class="hero-inner text-center">
      <div class="hero-content">
        <h1>
          Выиграйте захватывающие призы <br />
          Купите продукт &amp; выиграйте монеты
        </h1>
        <p class="py-4">Скачай приложение Яша и выиграй замечательные призы</p>
        <div class="hero-btn">
          <a
            href="https://apps.rustore.ru/app/com.neo.yandexpvz"
            class="download-btn"
            target="_blank"
            ><img src="assets/img/rustore.svg" alt="btn"
          /></a>
          <!-- <a href="#" class="download-btn"
            ><img src="assets/img/playstore.png" alt="btn"
          /></a> -->
        </div>
      </div>
    </div>
  </div>
</section>
