<div class="main" id="section2">
<section class="get-in-touch">
        <form class="form scroll-effect" id="myForm">

                <label>Name</label>
                <input id="name" type="text" required/>
         
                <label>Email</label>
                <input type="email" id="email" required />
         
                <label>Message</label>
                <textarea id="message" rows="5" required></textarea>
         
                <input type="submit" id="submit" value="Send"/>
         
          </form>
     </section>
    </div>
   