<section id="download" class="download-section padding">
  <div class="container">
    <div class="download-content text-center">
      <h2 class="wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1000ms">
        Download Astra Today
      </h2>
      <p class="wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1000ms">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. <br />It has survived not only five centuries.
      </p>
      <div
        class="hero-btn wow fadeInUp"
        data-wow-delay="400ms"
        data-wow-duration="1000ms"
      >
        <a href="#" class="download-btn"
          ><img src="assets/img/appstore.png" alt="btn"
        /></a>
        <a href="#" class="download-btn"
          ><img src="assets/img/playstore.png" alt="btn"
        /></a>
      </div>
    </div>
  </div>
</section>
