<section id="features" class="feature-section bd-bottom padding">
  <div class="container">
    <div class="feature-mock"></div>
    <div class="row feature-wrap">
      <div class="col-md-4 text-right feature-list col-sm-6 xs-padding">
        <div
          class="feature-content wow fadeInRight"
          data-wow-delay="0ms"
          data-wow-duration="1000ms"
        >
          <div class="icon"><i class="icon-layers"></i></div>
          <h3>Элегантный интерфейс</h3>
          <p>
            Lorem Ipsum is simply text of the printing and typesetting
            industry.It has centuries.
          </p>
        </div>
        <div
          class="feature-content wow fadeInRight"
          data-wow-delay="200ms"
          data-wow-duration="1000ms"
        >
          <div class="icon"><i class="icon-heart"></i></div>
          <h3>Сделано с любовью</h3>
          <p>
            Lorem Ipsum is simply text of the printing and typesetting
            industry.It has centuries.
          </p>
        </div>
      </div>
      <div class="col-md-4 offset-md-4 feature-list col-sm-6 xs-padding">
        <div
          class="feature-content wow fadeInLeft"
          data-wow-delay="0ms"
          data-wow-duration="1000ms"
        >
          <div class="icon"><i class="icon-adjustments"></i></div>
          <h3>Легко использовать</h3>
          <p>
            Lorem Ipsum is simply text of the printing and typesetting
            industry.It has centuries.
          </p>
        </div>
        <div
          class="feature-content wow fadeInLeft"
          data-wow-delay="200ms"
          data-wow-duration="1000ms"
        >
          <div class="icon"><i class="icon-clock"></i></div>
          <h3>24/7 Поддержка</h3>
          <p>
            Lorem Ipsum is simply text of the printing and typesetting
            industry.It has centuries.
          </p>
        </div>
      </div>
    </div>
    <div class="row sponsor-wrap mt-30 text-center">
      <div class="col-md-10 offset-md-1">
        <ul class="sponsors">
          <!-- <li><img src="assets/img/sponsor-1.png" alt="sponsor" /></li>
          <li><img src="assets/img/sponsor-2.png" alt="sponsor" /></li>
          <li><img src="assets/img/sponsor-3.png" alt="sponsor" /></li>
          <li><img src="assets/img/sponsor-4.png" alt="sponsor" /></li> -->
        </ul>
      </div>
    </div>
  </div>
</section>
