<footer class="footer-section align-center">
  <div class="container">
    <p>&copy; 2023 designed by Rajneesh</p>
    <div class="d-flex justify-content-center align-items-center">
      <a href="{{site.url}}/contact" class="small text-white mr-4">Contact</a>
      <a href="{{site.url}}/privacy-policy" class="small text-white mr-4"
        >Privacy Policy</a
      >
      <a href="{{site.url}}/terms" class="small text-white"
        >Terms &amp; Conditions</a
      >
    </div>
  </div>
</footer>
