<footer class="footer-section align-center">
  <div class="container">
    <p>&copy; 2023 designed by Rajneesh</p>
    <div class="d-flex justify-content-center align-items-center">
      <a href="{{site.url}}/contact" class="small text-white me-2 me-lg-4"
        >контакт</a
      >
      <a
        href="{{site.url}}/privacy-policy"
        class="small text-white me-2 me-lg-4"
        >политика конфиденциальности</a
      >
      <a href="{{site.url}}/terms" class="small text-white"
        >Условия эксплуатации</a
      >
    </div>
  </div>
</footer>
