<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1"
  />

  <title>
    {% if page.title %}{{page.title}} - {{site.title}}{% else %}{{site.title}}{%
    endif %}
  </title>
  <meta name="description" content="{{ page.description }}" />

  <meta property="og:site_name" content="{{ site.title }}" />
  {% if page.title %}
  <meta property="og:title" content="{{ page.title }}" />
  {% else %}
  <meta property="og:title" content="{{ site.title }}" />

  {% endif %} {% if page.title %}
  <meta property="og:type" content="article" />
  {% else %}
  <meta property="og:type" content="website" />

  {% endif %} {% if page.description %}
  <meta property="og:description" content="{{ page.description }}" />
  {% else %}
  <meta property="og:description" content="{{ site.description }}" />
  {% endif %}

  <meta property="og:url" content="{{ site.url }}" />
  <meta property="og:image" content="{{ site.url }}/assets/img/og-image.png" />

  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content="{{ site.url }}" />
  <meta property="twitter:title" content="{{ site.title }}" />
  <meta property="twitter:description" content="{{ site.description }}" />
  <meta
    property="twitter:image"
    content="{{ site.url }}/assets/img/og-image.png"
  />

  <link rel="shortcut icon" href="{{ "/assets/img/favicon/favicon.ico" |
  prepend: site.baseurl }}" type="image/x-icon" />

  <!-- Font Awesome CSS -->
  <link rel="stylesheet" href="{{ "/assets/css/font-awesome.min.css" | prepend:
  site.baseurl }}">
  <!-- Elegant Font Icons CSS -->
  <link rel="stylesheet" href="{{ "/assets/css/elegant-font-icons.css" |
  prepend: site.baseurl }}">

  <!-- Elegant Line Icons CSS -->
  <link rel="stylesheet" href="{{ "/assets/css/elegant-line-icons.css" |
  prepend: site.baseurl }}">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{{ "/assets/css/bootstrap.min.css" | prepend:
  site.baseurl }}">

  <!-- Slicknav CSS -->
  <link rel="stylesheet" href="{{ "/assets/css/slicknav.min.css" | prepend:
  site.baseurl }}">

  <!-- animate CSS -->
  <link rel="stylesheet" href="{{ "/assets/css/animate.min.css" | prepend:
  site.baseurl }}">

  <!-- OWL-Carousel CSS -->
  <link rel="stylesheet" href="{{ "/assets/css/owl.carousel.css" | prepend:
  site.baseurl }}">

  <!-- Swiper CSS -->
  <link rel="stylesheet" href="{{ "/assets/css/swiper.min.css" | prepend:
  site.baseurl }}">

  <!-- Main CSS -->
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl
  }}">

  <link rel="stylesheet" href="https://market.yandex.ru/?clid=3796485" />

  <!-- Responsive CSS -->
  <link rel="stylesheet" href="{{ "/assets/css/responsive.css" | prepend:
  site.baseurl }}">
  <!-- Google tag (gtag.js) -->
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=G-C8RS1CXQ2T"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-C8RS1CXQ2T");
  </script>

  <script src="{{site.baseurl}}/assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>

  <script
    src="https://cdn.onesignal.com/sdks/web/v16/OneSignalSDK.page.js"
    defer
  ></script>
  <script>
    window.OneSignalDeferred = window.OneSignalDeferred || [];
    window.OneSignalDeferred.push(async function (OneSignal) {
      await OneSignal.init({
        appId: "3d63dc19-9ffa-4452-ab68-aa3ded843b34",
        notifyButton: {
          enable: true,
        },
        serviceWorkerParam: { scope: "push/onesignal/" },
        serviceWorkerPath: "push/onesignal/OneSignalSDKWorker.js",
      });
    });
  </script>
</head>
