<header id="header" class="header-section">
  <div class="container">
    <nav class="navbar">
      <a href="/" class="navbar-brand"
        ><img src="{{site.baseurl}}/assets/img/logo.png" alt="yasha"
      /></a>
      <div class="d-flex menu-wrap">
        <div id="navmenu" class="mainmenu">
          <ul class="nav">
            <!-- <li>
              <a data-scroll class="nav-link active" href="#home"
                >Home <span class="sr-only">(current)</span></a
              >
            </li> -->
            <li>
              <a data-scroll class="nav-link" href="#features">функции</a>
            </li>
            <li>
              <a data-scroll class="nav-link" href="#screenshots">скриншоты</a>
            </li>
            <li><a data-scroll class="nav-link" href="#reviews">обзоры</a></li>
          </ul>
        </div>
      </div>
      <div class="d-lg-none">
        <button
          class="btn btn-warning"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasWithBothOptions"
          aria-controls="offcanvasWithBothOptions"
        >
          <i
            class="icon_menu"
            style="vertical-align: middle; font-size: 18px; color: aliceblue"
          ></i>
        </button>

        <div
          class="offcanvas offcanvas-start"
          data-bs-scroll="true"
          tabindex="-1"
          id="offcanvasWithBothOptions"
          aria-labelledby="offcanvasWithBothOptionsLabel"
          style="width: 320px"
        >
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">
              Page Link
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="offcanvas"
              aria-label="Close"
            ></button>
          </div>
          <div class="offcanvas-body">
            <ul>
              <li>
                <a data-scroll class="nav-link" href="#features">функции</a>
              </li>
              <li>
                <a data-scroll class="nav-link" href="#screenshots"
                  >скриншоты</a
                >
              </li>
              <li>
                <a data-scroll class="nav-link" href="#reviews">обзоры</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>
