<header id="header" class="header-section">
  <div class="container">
    <nav class="navbar">
      <a href="/" class="navbar-brand"
        ><img src="{{site.baseurl}}/assets/img/logo.png" alt="yasha"
      /></a>
      <div class="d-flex menu-wrap">
        <div id="navmenu" class="mainmenu">
          <ul class="nav">
            <li>
              <a data-scroll class="nav-link active" href="#home"
                >Home <span class="sr-only">(current)</span></a
              >
            </li>
            <li>
              <a data-scroll class="nav-link" href="#features">Features</a>
            </li>
            <li>
              <a data-scroll class="nav-link" href="#screenshots"
                >Screenshots</a
              >
            </li>
            <li><a data-scroll class="nav-link" href="#reviews">Reviews</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
