<section id="reviews" class="review-section bg-gradiant padding">
  <div class="container">
    <div
      class="section-heading mb-60 text-center wow fadeInUp"
      data-wow-delay="0ms"
      data-wow-duration="1000ms"
    >
      <h2>Отзывы</h2>
      <p>
        Мы хотели бы услышать ваши отзывы. Все ваши предложения, отзывы и
        конструктивная критика всегда приветствуются <br />
        Мы постараемся реализовать ваши предложения и отзывы. Ваш отзыв очень
        много значит для нас.
      </p>
      <p>отправьте свои отзывы через мобильное приложение. профиль >> отзывы</p>
    </div>

    <div id="review-carousel" class="review-carousel owl-carousel"></div>
  </div>
</section>
