
<section id="reviews" class="review-section bg-gradiant padding">
  <div class="container">
      <div class="section-heading mb-60 text-center wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1000ms">
          <h2>User Reviws</h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. <br>It has survived not only five centuries.</p>
      </div>
      <div id="review-carousel" class="review-carousel owl-carousel">
          <div class="review-item">
              <div class="review-thumb">
                 <img src="assets/img/team-1.jpg" alt="thumb">
              </div>
              <div class="review-content">
                  <h3>Michel Brown</h3>
                  <ul class="rattings">
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                  </ul>
                  <div class="review-text">
                      <p>"There are design companies, and then there are user experience design interface design. navato is the best choice for app developers"</p>
                  </div>
              </div>
          </div><!-- Reviews-1 -->
          <div class="review-item">
              <div class="review-thumb">
                 <img src="assets/img/team-2.jpg" alt="thumb">
              </div>
              <div class="review-content">
                  <h3>Angelina Rose</h3>
                  <ul class="rattings">
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                  </ul>
                  <div class="review-text">
                      <p>"There are design companies, and then there are user experience design interface design. navato is the best choice for app developers"</p>
                  </div>
              </div>
          </div><!-- Reviews-2 -->
          <div class="review-item">
              <div class="review-thumb">
                 <img src="assets/img/team-3.jpg" alt="thumb">
              </div>
              <div class="review-content">
                  <h3>Jonathan Smith</h3>
                  <ul class="rattings">
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                  </ul>
                  <div class="review-text">
                      <p>"There are design companies, and then there are user experience design interface design. navato is the best choice for app developers"</p>
                  </div>
              </div>
          </div><!-- Reviews-3 -->
      </div>
  </div>
</section><!-- Re