<section id="screenshots" class="screenshots-section bd-bottom bg-grey padding">
  <div class="container">
    <div
      class="section-heading mb-60 text-center wow fadeInUp"
      data-wow-delay="0ms"
      data-wow-duration="1000ms"
    >
      <h2>Скриншоты</h2>
      <p>
        Простой и элегантный интерфейс приложения <br />
        Легко ориентироваться в приложении
      </p>
    </div>
    <div class="swiper-container">
      <div class="mobile-mock">
        <div class="screen"></div>
        <div class="circle"></div>
      </div>
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img
            class="w-100"
            src="assets/img/screenshot-1.png"
            alt="screenshot"
          />
        </div>
        <div class="swiper-slide">
          <img
            class="w-100"
            src="assets/img/screenshot-2.png"
            alt="screenshot"
          />
        </div>
        <div class="swiper-slide">
          <img
            class="w-100"
            src="assets/img/screenshot-3.png"
            alt="screenshot"
          />
        </div>
        <div class="swiper-slide">
          <img
            class="w-100"
            src="assets/img/screenshot-4.png"
            alt="screenshot"
          />
        </div>
        <div class="swiper-slide">
          <img
            class="w-100"
            src="assets/img/screenshot-5.png"
            alt="screenshot"
          />
        </div>
        <div class="swiper-slide">
          <img
            class="w-100"
            src="assets/img/screenshot-6.png"
            alt="screenshot"
          />
        </div>
        <div class="swiper-slide">
          <img
            class="w-100"
            src="assets/img/screenshot-7.png"
            alt="screenshot"
          />
        </div>
      </div>
      <!-- Carousel Arrows -->
      <div class="swiper-next"><i class="arrow_carrot-right"></i></div>
      <div class="swiper-prev"><i class="arrow_carrot-left"></i></div>
    </div>
  </div>
</section>
<!-- Screenshots Section -->
