<section id="subscribe" class="subscribe-section">
  <div class="container">
    <div
      class="section-heading mb-40 text-center wow fadeInUp"
      data-wow-delay="0ms"
      data-wow-duration="1000ms"
    >
      <h2>Подписаться на рассылку</h2>
      <p>
        Подпишитесь на нашу рассылку для получения последних обновлений и
        предложений.
      </p>
    </div>
    <div class="subscribe-wrap">
      <form action="#" class="subscribe-form">
        <input
          type="email"
          name="email"
          id="subs-email"
          class="form-input"
          placeholder="Enter Your Email Address..."
          required
        />
        <button type="submit" class="submit">подписаться</button>
        <div id="subscribe-result">
          <p class="subscription-success"></p>
          <p class="subscription-error"></p>
        </div>
      </form>
    </div>
    <div class="clearfix"></div>
    <ul class="social-share text-center">
      <li>
        <a href="#"><i class="fa fa-facebook"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-vk"></i></a>
      </li>

      <li>
        <a href="#"><i class="fa fa-instagram"></i></a>
      </li>
    </ul>
  </div>
</section>
