<section class="content-section bg-grey bd-bottom padding">
  <div class="container">
    <div class="row content-wrap">
      <div
        class="col-md-6 xs-padding wow fadeInLeft"
        data-wow-delay="0ms"
        data-wow-duration="1000ms"
      >
        <div class="content-details">
          <h2>Easy To Use Customize Friendly Interface.</h2>
          <p class="mb-30">
            Lorem Ipsum is simply text of the printing and typesetting
            industry.It has survived not only five centuries.No one cares about
            products. people care about ideas. Lorem Ipsum is simply text of the
            printing and typesetting industry.
          </p>
          <a href="#" class="default-btn">Purchase App</a>
        </div>
      </div>
      <div
        class="col-md-6 xs-padding wow fadeInRight"
        data-wow-delay="0ms"
        data-wow-duration="1000ms"
      >
        <img src="assets/img/content-bg.png" alt="img" />
      </div>
    </div>
  </div>
</section>
