/*
   Astra Theme Responsive Design
*/

@media (max-width: 1170px) {
  .swiper-container {
    width: 70%;
  }
  .arrow {
    display: none;
  }
}

@media (max-width: 1024px) {
  .hero-section {
    height: 650px;
  }
  h1 {
    font-size: 36px;
  }
}

/* ---- Start of max-width 992px CSS ---- */
@media (max-width: 992px) {
  .sm-padding {
    padding: 15px;
  }

  ul.nav > li > a {
    padding: 0 5px;
    font-size: 10px;
  }
  .promo-content {
    padding: 0;
  }
  .swiper-container {
    width: 260px;
  }
  .swiper-container .swiper-slide {
    text-align: center;
  }
  .swiper-container .swiper-slide img,
  .swiper-container .swiper-slide-active img {
    width: 80% !important;
  }
  .swiper-container .swiper-next,
  .swiper-container .swiper-prev {
    display: none;
  }
  .content-info {
    padding-bottom: 65px;
    padding-top: 0;
  }
  .download-moc.text-right {
    text-align: center !important;
  }
  .download-btn a {
    margin: 0 5px;
  }
  .download-content h2 {
    font-size: 24px;
  }
  .download-content {
    padding: 0;
  }
  .hero-section {
    height: 570px;
  }
  .feature-content i {
    margin-bottom: 10px;
  }
  .feature-mock {
    top: -30px;
  }
}
/* ---- End of max-width 992px CSS ---- */

/* ---- Start of min-width 480px and max-width 768px CSS ---- */
@media all and (min-width: 480px) and (max-width: 768px) {
}
/* ---- End of min-width 480px and max-width 768px CSS ---- */

/* ---- Start of max-width 767px CSS ---- */
@media all and (max-width: 767px) {
  body,
  p {
    font-size: 14px;
    line-height: 24px;
  }
  h1 {
    font-size: 30px !important;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 20px;
  }
  .mock-hide,
  p br {
    display: none;
  }
  .padding {
    padding: 70px 0;
  }
  .xs-padding {
    padding: 15px;
  }
  .section-heading h2 {
    font-size: 30px;
  }
  .section-heading p {
    font-size: 16px;
  }
  .navbar-brand {
    padding: 11px 0;
  }
  .feature-mock,
  .menu-btn,
  .menu-wrap ul.nav {
    display: none;
  }
  .slicknav_menu {
    display: block;
  }
  .play-btn {
    left: calc(50% - 30px);
    top: calc(50% - 30px);
  }
  .content-info {
    padding-bottom: 0;
  }
  .download-content {
    text-align: center;
  }
  .arrow {
    display: none;
  }
  .download-section:before {
    bottom: -95px;
  }
}
/* ---- End of max-width 767px CSS ---- */

/* ---- Start of max-width 576px CSS ---- */
@media all and (max-width: 576px) {
  h1 {
    font-size: 24px !important;
    margin: 0 0 15px;
    letter-spacing: -0.5px;
  }
  .hero-section {
    height: 460px;
  }
  .feature-wrap .feature-content {
    text-align: center;
  }
  .feature-list .feature-content {
    margin-bottom: 30px;
  }
  .feature-list .feature-content:last-child {
    margin-bottom: 0;
  }
  .hero-content p {
    font-size: 18px;
  }
  .hero-content h1 {
    padding-top: 120px;
  }
  .subscribe-form {
    width: 100%;
  }
  .download-content h2 {
    font-size: 20px;
  }
  .download-btn a:first-child {
    margin-bottom: 10px;
  }
  .social-link li {
    margin: 0;
  }
  .subscribe-form .submit {
    padding: 12px 20px;
  }
}
/* ---- End of max-width 576px CSS ---- */

/* ---- Start of max-width 420px CSS ---- */
@media all and (max-width: 420px) {
}
/* ---- End of max-width 420px CSS ---- */

/* ---- Start of max-width 380px CSS ---- */
@media all and (max-width: 380px) {
}
/* ---- End of max-width 380px CSS ---- */
